{% extends "szablon.html" %}
{% block tytul %}Quiz – strony nie znaleziono{% endblock %}
{% block h1 %}Błąd!{% endblock %}
{% block tresc %}
<style type="text/css">
  .error1 {padding: 40 px 15 px; text-align: center;}
  .error2 {margin-top: 15 px; margin-bottom: 15px;}
  .error3 { ; }
</style>


<div class="container">
  <div class="row">
    <div class="error1">
      <h2>404 nie znaleziono</h2>
      <div class="error2">
        Wystąpił Błąd
      </div>
      <div class="error3">
        <a href="{{ url_for('index')}}">
          <i class="icon-home"></i>
        Strona główma </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
